/* center the cards */
.main-card {
  display: flex;
  justify-content: center;
  background-color: #bcd1e5;
}

.contact-card {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;
  color: #ffffff;
  background-color: rgb(42, 84, 104);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
  border-radius: 18px;
  width: 450px;
  max-height: 200px;
  margin-bottom: 15px;
}

.contact-card p {
  margin-left: 12px;
  margin-top: 0;
}
.contact-card img {
  border-radius: 30px;
}

button {
  margin-left: 12px;
  margin-bottom: 10px;
}
